.cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
  }
  
  .cursor__ball {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  
  .cursor__ball--big {
    width: 30px;
    height: 30px;
    border: 2px solid #1427ff;
  }
  
  .cursor__ball--small {
    width: 10px;
    height: 10px;
    background-color: #1427ff;
  }
  